.de1{
    position: relative;
    height: 45vw;;
    background-color: rgb(218, 216, 216);
    opacity: 90%;
    text-align: center;
    width: 70%;
    border: 2px solid rgb(51, 44, 44);
    justify-content: center;
    left: 180px;
    top: 30px;
    font-size: 13px;
  
}
tr:nth-child(even){background-color: #f2f2f2;}
th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#fa6b6bc4 ;
    color: black;
    border: 2px solid black;
  padding: 8px;
}
td{
   
  padding: 8px;
}

.Employee {
    width: 200px;
    min-height: 10px;
    padding: 23px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.Employee:hover,
.Employee:active {
    background-color: #C0DDF5;
}

.box {
    margin: 16px 0;
    color: #ccc;
}

table {
    
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    overflow-x: scroll;
    max-height: 500px;
    max-width: 760px;
    font-size: 18px;
    position: relative;
    
  }
  .label1{
    font-weight: bold;
    font-size: 20px;
  }
  .button21{
      left:40px;
      position: relative;
  }

#table-header {
    display: table-header;
    background-color: rgb(121, 23, 23);
    font-weight: bold;
    font-size: 15px;
}
.table-fixed thead {
    width: 150%;
  }
  .thead-dark{
      width:70px;
      color:red;
      position: relative;
      top:70px;
     
  }
  
  
.table-fixed tbody {
    height: 150px;
    overflow-y: scroll;
    width: 100%;
  }
  .list{
      
      height:40vw;
  }
  .fetch{
      position: relative;
      right:480px;
      top:130px;
    
      font-size: 20px;
      color:black;
      padding: 10px 15px;
      background:#03DDDC;
      font-weight: bold;
     

  }
  .ascending{
    position: relative;
    right:697px;
    top:210px;
  
    font-size: 20px;
    color:black;
    padding: 10px 27px;
    background:#FF822E;
    font-weight: bold;

  }
  .list>h2{
    position: absolute;
    top:49%;
    right:2px;
    font-size:60px;
    transform: rotate(-90deg);
    color:#c4c1c1;
  }
  
  